body {
    background-color: #1e7925;
    color: white;
    font-family: "Madimi One", sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
    height: 700px;
    margin: 0;
}

    button{
        background-color: #17661a;
        color: white;
        font-family: "Madimi One", sans-serif;

    }